.w-align{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*main css*/
.app-bg-ovarlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
 /* background-color: rgba(0,0,0, .1);*/
}
.app-bg-ovarlay > img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.app-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.app-bg img{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.account-login{
  margin-top: 23rem;
}
.profile-image{
  width: 100px;
  height: 100px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0,0,0, .5);
  background-color: #fff;
  border-radius: 50%;
}
.profile-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*box-shadow: 4px 4px 4px 0 rgba(51,51,51, .4);*/
}
.profile-image span br{
  margin-bottom: 10px;
}
.theme-color{
/*  background-image: repeating-linear-gradient(-50deg,transparent, transparent 20px, #0c82df 20px, #48a8f5 35px);*/
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("../image/ultimate-guide-to-background-images-in-email-690x362.png");
 /* border-bottom: #fff dashed 1px;*/
  /*box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.2);*/
  transition: all 0.2s cubic-bezier(0.35, 0.33, 0.75, 0.9);
  /*border-bottom: #fff solid thin;*/
}
.img-size{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0, .2);
}
.pull-right{
  float: right;
}

.text-capitalize{
  text-transform: capitalize;
}

.app-w-100{
  width:40%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  height: 150px;
  margin-top: 3rem;

}
#hide, #hide-email, .hide-staff-login, .hide, .text-hide{
  display: none;
}

.toolbar-btn-resize{
  font-size: 13px; 
  font-weight: normal;
}

.info-box{
  border-radius: 4px;
  border-top: #0c82df solid 2px;
  margin-top: 10px;
  padding-top: 0.5px;
  box-shadow: 0 2px 2px #999;
  background-color: #fff;
  margin-bottom: 20px;
}
.box-body{
  /*border: #222 solid thin;*/
  border-top-color: transparent;
  padding: 20px;
  color: #000;
  height: 150px;
}
.box-body > img {
  width: 100%;
  height: 110px;
}

.text-bold{
  font-weight: bold;
}

/* calculator */
#calculator {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#display {
  background: #fff; /* old browsers */
  background: -moz-linear-gradient(top, #fff 50%, #CCCCCC 50%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#fff), color-stop(50%,#fff)); /* webkit */
  border:1px solid rgba(0,0,0,0.5);
  border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
  color:#000;
  font-size:32px;
  padding:5px 5px;
  text-align:right;
  width:284px;
}

.box-card{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 8px 2px 0 #fff;
  border-radius: 10px;
  border: 2px solid #ededed;
  background-image: url("../image/logo2fade.png");
  position: relative;
  z-index: 9999;
}
.text-underline{
  border-bottom: #ededed solid thin;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#upload-button {
  width: 150px;
  display: block;
  margin: 20px auto;
}

#file-to-upload {
  display: none;
}

#pdf-main-container {
  width: 400px;
  margin: 20px auto;
}

#pdf-loader {
  display: none;
  text-align: center;
  color: #999999;
  font-size: 13px;
  line-height: 100px;
  height: 100px;
}

#pdf-contents {
  display: none;
}

#pdf-meta {
  overflow: hidden;
}

/*#pdf-buttons {
  float: left;
}*/

/*#page-count-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/
#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#pdf-canvas {
  border: 1px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
  width: 100%;
}

#page-loader {
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  color: #999999;
  font-size: 13px;
}